<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team3.bra">

    <application
        android:allowBackup="true"
        android:icon="@drawable/broadwayrestarauntlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/broadwayrestarauntlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ManagerEditUser"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".Report"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".Waiter"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".Manager"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".Order"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".ManagerMenu"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".Cook"

            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".ManagerShowUsers"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

    </application>

</manifest>